* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 19px Helvetica, Arial; }

.main{
    visibility: visible;
}
.noterows{
    max-height:40px; 
    overflow:hidden
}
.idrows{
    width: 250px;
    height: 40px
}
.timerows{
    width: 250px;
    height: 40px
}
.setshit{
    width: 170px;
    white-space: normal;
    height: 110px;
}
.notesDiv{
    display: flex;
    overflow-x: scroll;
}
.notes{
    word-wrap: normal
}
.noterows{
    white-space: normal;
}
