<!DOCTYPE html>
<html>

<head>
  <title>Notes</title>
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/resources/jquery.cookie.js"></script>
  <script src="/resources/main-front.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/base.css" />
</head>

<body>
  <div class="n_log_in" id="loginBox">
    <input class="logins" type="text" id="userName" placeholder="Username..." /><br>
    <input class="logins" type="password" id="password" placeholder="Password..." /><br>
    <button class="loginBtn" id="login_Register">Login / Register</button>
    <div id="main">
    </div>
  </div>
  </div>
</body>
</html>