<!DOCTYPE html>
<html>

<head>
  <title>Notes</title>
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/resources/jquery.cookie.js"></script>
  <script src="/resources/main-front.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" rel="stylesheet" type="text/css" href="/css/base.css" />
</head>

<body>
  <div id='logContainer' style="margin-left: 30%; margin-top: 10%; ">
    <script>
      if ($.cookie('uuid')) {
        $('#logContainer').hide();
        console.log('hiding now')
      }
    </script>
    <form class="w3-container w3-round-large w3-teal w3-padding" style='margin: auto; display: inline-block; width: 40%'
      id="loginBox">
      <h2>Login to Notes</h2>
      <label>Username</label>
      <input class="w3-input w3-border w3-round-large" type="text" id="userName" placeholder="Username..." /><br>
      <label>Password</label>
      <input class="w3-input w3-border w3-round-large" type="password" id="password" placeholder="Password..." /><br>
      <button class="w3-button w3-light-grey w3-round-large" id="login">Login</button>
    </form>
  </div>
  <div id="main">
  </div>
</body>

</html>